
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main {
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main h3 {
    font-size: 4.4.rem;
    font-weight: 700;
}

.main h6 {
    font-size: 1.4.rem;
    border-bottom: 3px solid;
    text-transform: uppercase;
    line-height: 1;
    width: 70%;
}

.main .bt1 {
    height: 55px;
    width: 250px;
    background-color: transparent;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
}

.main .bt1:hover {
    background-color: rgb(68, 66, 66);
    transition: 0.5s;
    color: white;
}

.img-round {
    border-radius: 50%;
}

.about .card {
    padding: 1.5rem;
    flex: 1;
    text-align: center;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
}

.skills .card {
    padding: 1.5rem;
    flex: 1;
    text-align: left;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
}

.projects .card {
    border: white;
}

.skill-container .icon {
    margin-right: 10px;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
    margin: 1rem;
}

.footer .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
    margin: 1rem;
}
